alias ls='ls -GFh'
alias flist='du -k . | sort -nr'

# fkill - kill processes - list only the ones you can kill. Modified the earlier script.
fkill() {
    local pid 
    if [ "$UID" != "0" ]; then
       pid=$(ps | fzf -m | awk '{print $1}')
        # pid=$(ps -f -u $UID | sed 1d | fzf -m | awk '{print $1}')
    else
        
       pid=$(ps | fzf -m | awk '{print $1}')
       # pid=$(ps -ef | sed 1d | fzf -m | awk '{print $1}')
    fi  

    if [ "x$pid" != "x" ]
    then
        echo $pid | xargs kill -${1:-9}
    fi  
}

alias pk='fkill'
alias gittree='git-commit-show'
